.controls {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  justify-content: space-around;
  align-items: center;
}

.volume-range{
  cursor: pointer;
  width: 200px;
}

.speaker-header{
  text-align: center;
}

.volume-control{
  display: flex;
  align-items: center;
}

.player-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 25px;
  background: rgba(0,0,0,0.1);
  border-radius: 25px;
  button {
    border: none;
    background: none;
    padding: 0;
    min-width: 22px;
    min-height: 26px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    transition: 0.25s;
    &:hover {
      color: #0075ff;
      border-color: #0075ff;
    }
    span{
      font-size: 26px;
    }
  }

  .hid-btn,
  .save-btn{
    border: 1px solid ;
    padding: 2px 5px;
    border-radius: 4px;
  }

}

.volume{
  display: flex;
  align-items: center;
}

